* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
}

header {
  background: black;
}

header::after {
  content: "";
  display: table;
  clear: both;
  height: max-content;
}

.logo {
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 80px;
  margin-right: 30px;
  padding-top: 35px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 4px;
  font-size: 20px;
  border-radius: 20px;
  background: linear-gradient(rgb(4, 0, 240), rgb(4, 220, 248));
}

nav ul li a:hover {
  color: black;
  cursor: pointer;
}

main {
  background: linear-gradient(black, rgb(83, 83, 83));
  margin: 0px;
  text-align: center;
  align-items: center;
}

main h1 {
  color: white;
}

main h2 {
  color: white;
}

main div {
  border: rgb(0, 79, 250) solid;
  border-width: 5px;
  padding: 5px;
  border-radius: 20px;
}

footer {
  background-color: rgb(83, 83, 83);
  display: block;
  padding: 40px;
  text-align: center;
}

footer a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#ContactNavigation:hover {
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(rgb(4, 0, 240), rgb(4, 220, 248));
  color: black;
  padding: 4px;
}
